<launch>

  <!-- <rosparam param="use_sim_time" subst_value="false"></rosparam> -->

  <arg name="viz" default="online"/>

  <include file="$(find sisyph_slam)/launch/multi_cam_aruco.launch" pass_all_args="true"/>

  <node pkg="sisyph_slam" name="robot_tf_pub"
  type="robot_multi_tf_pub.py" output="screen" respawn="true"></node>
  <!-- <node pkg="sisyph_slam" name="scan_tf_sync"
  type="scan_tf_sync.py" output="screen" respawn="true"></node> -->

  <node pkg="rviz" name="rviz"
    type="rviz" output="screen" respawn="false"
    args="--display-config $(find sisyph_slam)/rviz/$(arg viz).rviz">
  </node>

</launch>
