<launch>

<arg name="cam0_name" default="cam0"/>
<arg name="cam1_name" default="cam1"/>

<arg name="image" default="image_raw"/>
<arg name="transport" default="compressed"/>
<arg name="fiducial_len" default="0.21"/>
<arg name="dictionary" default="10"/>  
<arg name="do_pose_estimation" default="true"/>
<arg name="vis_msgs" default="false"/>
<arg name="ignore_fiducials" default="" />
<arg name="fiducial_len_override" default="" />
<arg name="verbose" default="false"/>

<include file="$(find sisyph_slam)/launch/aruco0.launch" pass_all_args="true"/>
<include file="$(find sisyph_slam)/launch/aruco1.launch" pass_all_args="true"/>

</launch>
